# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (large files should NOT go to GitHub)
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings (optional)
.vscode/

# Dataset (IMPORTANT: do NOT upload large medical datasets)
data/

# Output files (optional)
outputs/